:root {
  --background: #fff;
  --foreground: #000;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

a {
  text-decoration: none;
}

/**
 * not found
 */

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8rem);
  width: 100vw;
}

/**
 * loading
 */

.loading {
  --radius: 1rem;
  margin: calc(var(--radius) * -1);
  height: calc(var(--radius) * 2);
  width: calc(var(--radius) * 2);
  border-radius: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 3px solid var(--foreground);
  border-top: 3px solid var(--background);
  border-left: 3px solid var(--background);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/**
 * typography
 */

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-Regular.woff2') format('woff2'),
       url('/assets/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-Medium.woff2') format('woff2'),
    url('/assets/WorkSans-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-ExtraLight.woff2') format('woff2'),
    url('/assets/WorkSans-ExtraLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-Light.woff2') format('woff2'),
    url('/assets/WorkSans-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-Medium.woff2') format('woff2'),
    url('/assets/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-SemiBold.woff2') format('woff2'),
    url('/assets/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-Bold.woff2') format('woff2'),
    url('/assets/WorkSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-ExtraBold.woff2') format('woff2'),
    url('/assets/WorkSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}